@import "../../../../../sass/base.scss";

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  text-align: center;
  color: #7451eb;

  & p {
    text-align: left;
  }
}
